.slider-container {
	display: flex;
  align-items: center;
  width: 640px;
  margin: 10px auto 0;
	flex-direction: column;
}

.scroller {
  flex: 1;
  overflow: hidden;
	max-width: 640px;
	width: 100%;
}

.items {
	white-space: nowrap;
	font-size: 0;
	line-height: 0;
	transition: transform 0.5s ease-in-out;
}
